<!DOCTYPE html>
<html>
  <head>
    <title>Mascota</title>
    <%= csrf_meta_tags %>
    <%= tabs_tag do |tab| %>
   <thead>
    <tr>
  <th><%= tab.animals      'Inicio', root_path %></th>
  <th><%= tab.nuevo 'Añadir Animal', new_animal_path %></th>
  <th><%= tab.reportes 'Reporte', reportes_path %></th>
    </tr>
    </thead>
<% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <!-- Custom styles for this template -->
     <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>

  <body>
       <%= yield %>
    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Extraordinarios Felices 2017</p>
      </div>
    </footer>
  </body>
</html>
